.element__footer-button {
  border: none;
  cursor: pointer;
  padding: 0;
  background: transparent url(../../../images/heart.svg);
  width: 22px;
  height: 19px;
  flex-shrink: 0;
}

.element__footer-button:not(:active):hover {
  opacity: 0.5;
}

.element__footer-button:active {
  background-image: url(../../../images/heart-active.svg);
}
